@model Taste_Hub.Models.Class_Admin_Register
@{
    Layout = null;
}
<style>
    body{
    background-color: #f4f4f4;
    }
    .box{
    display:block;
    background-color:white;
    padding:20px;
    /*    box-shadow: 5px 10px 5px #ccc,0px 0px 8px #ccc; */
    box-shadow: 0px 0px 10px #ccc;
    width:450px;
    margin:0 auto;
    margin-top:200px;
    }
    .box form{
    font-family:Arial;
    align-content:center;
    margin:30px;
    padding:10px;
    }
    .box form input{
    font-size:20px;
    font-family: 'Microsoft PhagsPa';
    margin-top:20px;
    padding:8px;
    width:400px;
    }
    .lbl{
    font-size: 35px;
    font-weight:bold;
    }
    .btn{
    width:350px;
    background-color:black;
    color:white;
    padding:10px;
    }

    .reg-text {
    font-size: 21px;
    font-family: arial;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: -4px;
    text-align: center;
    }
</style>
<body>
    <div class="box">
        <form action="/Admin_ood/Index" method="post">
            <label class="lbl">Login</label><br />
            <input type="text" name="Username" id="Username" placeholder="Enter Username" /><br />
            <input type="password" name="Password" id="Password" placeholder="Enter Password" /><br />
            <input type="submit" class="btn" name="btn_disp"  value="Login" />
            <p class="reg-text">You Have Not Registered? Please Register First <a asp-action="Register" style="font-weight:bold;" asp-controller="Admin_ood">Registration</a></p>
        </form>
    </div>
</body>
@if (ViewBag.error != null)
{
    <script>
        alert("@ViewBag.error");
    </script> 
}
@if (ViewBag.Adminlog!=null)
{
    <script>
        alert("@ViewBag.Adminlog");
    </script>
}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* whenever you can not use layout their above javascript line compulsary write Therefore When Youu are not use
        layout their best option is you can submit the form
    *@
<script>
    function login()
    {
        var name=document.getElementById("Username").value;
        var pass=document.getElementById("Password").value;

        $.post("/Admin_ood/Index",{Username:name,Password:pass})
        .done(function()
        {
            alert("login Successfully");
             window.location.href="/Admin_ood/Dashboard";
        })
        .fail(function()
        {
            alert("Login Failed...");
        });
    }
</script>