@{
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}
<style>
    .Map{
        margin-top:30px;
    }
    .Map iframe {
        display: inline-block;
        margin: 0 auto;
        margin-top: 300px;
        box-shadow: 8px 10px 10px lightgray;
        border-radius: 10px;
    }

    .text {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        box-shadow: 6px 10px 8px lightgray,-5px -5px 8px lightgray;
        border-radius: 5px;
        margin: 0 auto;
        width: 700px;
        padding: 20px;
    }

        .text h1 {
            font-size:35px;
            text-align:left;
            margin-left:130px;
            color:#222222;
        }

        .text hr {
            width: 160px;
            margin: 0 auto;
            text-align:left;
            margin-left:120px;
            height: 1.5px;
            color: black;
        }
        p{
            font-size:17px;
            font-family:'Microsoft PhagsPa';
        }
        .texts{
            text-align:left;
            margin:0 auto;
            margin-left:50px;
        }
        h3,h2{
            color:#333333;
        }
        .texts p{
            color:#555555;
        }
        h3:hover{
            color:#0073e6;
        }

        h2:hover {
            color: #0073e6;
        }
        .Image img{
            margin:0 auto;
            margin-top:20px;
            box-shadow:8px 10px 10px lightgray;
            align-content:center;
            border-radius:30px;
            padding:10px;
        }
</style>
<body style="background-color:#fffff0">
<div class="Image" align="center">
    <img src="~/Image Static/Contact Us Main Page Image.png" alt="Image Not Shown" />
</div>
<div class="Map" align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.73065541526!2d72.84138507336579!3d18.987499054748472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cfe5a1f9c719%3A0x19ce06cc1c756105!2sTaste%20hub!5e0!3m2!1sen!2sin!4v1759382578423!5m2!1sen!2sin" width="950" height="650" style="align-content:center;margin-top:30px;border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br />
<br />
<div class="text">
    <h1>Contact</h1>
    <hr />
    <div class="texts">
        <h3 style="margin-top:25px;">Phone: +91 79900 40478</h3>
        <h3>Email: support@tastehub.com</h3>
        <h2><img src="~/Image Static/conta2.jpg" />&nbsp;&nbsp;<sub>CHAT WITH US : 8000800056</sub></h2>
        <p>Shop No.3, Chatai Chawl, Zakaria Bunder Rd, opp. Cotton Green, Chatai Chawl, Abhyudaya Nagar, W, Mumbai, Maharashtra 400033</p>
    </div>
</div>
</body>